@page "/"
@page "/inicio"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>¡Bienvenido a mi tarea de Blazor WebAssembly!</h3>
<p>Gracias por visitar mi página. Espero que disfrutes aprendiendo sobre programación tanto como yo.</p>

<p>Aquí encontrarás varias opciones que podrán llamar tu atención, incluyendo también varios videos en nuestra sección de Aprende Más, para que puedas descubrir y aprender más sobre Blazor.</p>
<img src="https://blog.jetbrains.com/wp-content/uploads/2023/06/rs-how-tos-featured_blog_1280x720.png" class="img-reducida" />

<h3>Aqui tienes una frace sobre la programacion que puede ser de ayuda para ti:</h3>

<p class="motivacion">"Programar sin una arquitectura o diseño en mente es como explorar una gruta sólo con una linterna: no sabes dónde estás, dónde has estado ni hacia dónde vas”  – Danny Thorpe</p>

<img src="https://gaslight-website.s3.amazonaws.com/website-images/stock-new-52-1.jpg" class="img-reducida" />

<style>
    h1 {
        font-style: italic;
        color: #8c004b;
        text-shadow: 2px 2px 4px #000;
        font-family: 'Times New Roman', Times, serif;
    }

    h3 {
        font-style: italic;
        color: #3498db;
        font-family: 'Times New Roman', Times, serif;
    }

    p.motivacion {
        font-style: italic;
        color: #2ecc71;
        transition: color 0.3s ease;
        font-family: 'Times New Roman', Times, serif;
    }

        p.motivacion:hover {
            color: #e74c3c;
        }

    /* Reducir tamaño de las imágenes */
    .img-reducida {
        max-width: 400px;
        height: auto;
        display: block;
        margin: 20px auto; /* Centramos la imagen */
    }
</style>

